---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables



$spacing-unit:     30px;

$text-color:       #000000;
$background-color: #f2efe8;
$brand-color:      #2a7ae2;

$main-color-dark:  #0ca0d7;
$main-color-light: #b6dbe5;
$main-color-dark-shadow: #087ec9;

$post-title-color: $main-color-dark;
$post-title-color: #454545;

$light-gray: #353535;
$dark-gray: #232323;
$post-background-color: transparent;

// Width of the content area
$content-width:    850px;
$content-width-large:  1300px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "syntax-highlighting",
		"octicons",
        "github-card"
;
