---
layout: default
---

{% include disqus-comments.html %}

<div class="post">
    <div>
        <h3 class="post-title">{{ page.title }}</h3>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </div>
    <hr />
    
    {% for category in page.categories %}
    <span class="label label-default">{{ category }}</span>
    {% endfor %}

    <p>{{ content }}</p>


</div>



	    {% if page.series != nil %}

	    {% assign postsInSeries = site.posts | where: "series", page.series  %}

		{% if postsInSeries.size > 1 %}

			<div class="series-nav">
	    		<h3>This post is part of a series:</h3>

	    	<ul class="side-nav">

		  	{% assign count = 1 %}
			{% for post in postsInSeries reversed %}

				{% if post.id == page.id %}
					 <li class="current">Part {{ count }} - {{ post.title }}
				{% else %}
					<li>
						<a href="{{ post.url }}">Part {{ count }} - {{ post.title }}</a>
					</li>
				{% endif %}				



				{% capture count %}{{ count | plus: '1' }}{% endcapture %}


			{% endfor %}

			</ul>

			</div>
		{% endif %}
		{% endif %}


<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>